.bg-container {
  background-color: #ffffff !important;
  margin-top: -10em;
  padding: 1;
  border-radius: 10px; }

.banner {
  background-image: url("../../assets/img/covid.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 370px; }
  .banner h1 {
    font-size: 7em;
    color: #d40000;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    margin-bottom: -5px; }
  .banner a {
    right: 1em;
    bottom: 0.1em;
    position: absolute;
    color: #383838;
    opacity: 0.3; }
    .banner a:hover {
      opacity: 1; }
  @media screen and (max-width: 768px) {
    .banner {
      min-height: 150px; }
      .banner .headline h1 {
        font-size: 2em; }
      .banner .headline h5 {
        font-size: 8px; }
      .banner a i {
        font-size: 8px; } }
