$small: 768px;
$medium: 900px;

.bg-header {
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 11px;
    }
  }

  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  min-height: 350px;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.bottom-nav {
  @media screen and (max-width: $small) {
      text-align: center;
    display: block;
    position: fixed !important;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
    padding: .5em;
    border-top: solid 1px rgb(243, 243, 243) ;
  }
  @media screen and (min-width: $medium) {
    display: none;
  }
}
